{% extends "app/layouts/main.html" %}
{% set pageID = "pgTemplateEdit" %}
{% block content %}
  {% include "app/partials/header.html" %}

  <form class='pgTemplateEdit_form'>
    <div class='grid'>
      <div class='grid_column'>
        <header class='pgTemplateEdit_header'>
          <h2 class="pageTitle">Novi predlozak</h2>
          <fieldset class="form-group">
            <label class='pgTemplateView_id'>
              Predlozak #12345678
              <img class='pgTemplateView_id_lock icon -h16' src='media/app/icons/lock.svg' alt=''>
            </label>
            <input type="text" class="form-control -templateTitle" placeholder="Naziv predloska...">
          </fieldset>
        </header>
      </div>
    </div>

    <div class='grid'>

      <!-- Cover image -->
      <div class='grid_column -medium4 -large3'>
        <div class='pgTemplateView_cover'>
          <div class='pgTemplateView_cover_front'>
            <!-- preview image goes here -->
            <!-- <img src='http://placehold.it/500x650' alt=''> -->
          </div>
          <div class='pgTemplateView_cover_back'></div>
        </div>
        <div class='btn btn-secondary -fullWidth'>
          Uploadaj novi dokument
        </div>
      </div>

      <!-- Main column -->
      <div class='grid_column -medium8 -large9'>
        <div class='grid'>

          <!-- Basic info -->
          <div class='grid_column'>
            <div class='section pgTemplateEdit_info'>

              <div class="form-group">
                <div class='pgTemplateEdit_info_column -left'>
                  <label>Kategorija</label>
                </div>
                <div class='pgTemplateEdit_info_column -right'>
                  <select class="form-control c-select">
                    <optgroup label="Kadrovi">
                      <option>Kadrovi / Edukacija</option>
                      <option>Kadrovi / Nesto drugo</option>
                    </optgroup>
                    <optgroup label="Kategorija 2">
                      <option>Kategorija / Podkategorija</option>
                      <option>Kategorija / Podkategorija</option>
                    </optgroup>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <!-- Alarms -->
          <div class='grid_column'>
            <div class='section pgTemplateEdit_alarms'>
              <h2 class='sectionTitle'>Alarmi</h2>
              <div class='table-responsive'>
                <table class="table -edge alarmTable">
                  <thead>
                    <tr>
                      <th class='alarmTable_title'>Naziv alarma</th>
                      <th class='alarmTable_date'>Datum</th>
                      <th class='alarmTable_time'>Vrijeme</th>
                      <th class='alarmTable_people'>Odgovorne osobe</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='alarmTable_title'>Ocjena dobavljaca 2015</td>
                      <td class='alarmTable_date'>13.04.2016.</td>
                      <td class='alarmTable_time'>14:00</td>
                      <td class='alarmTable_people'>John Travolta, Jackie Chan</td>
                      <td class='table_adminCell'>
                        <a class='table_adminCell_item' data-toggle="modal" data-target="#alarmModal">
                          <img class='icon -h16 table_adminCell_icon -edit' src='media/app/icons/edit.svg' alt=''>
                        </a>
                        <a class='table_adminCell_item'>
                          <img class='icon -h16 table_adminCell_icon -delete' src='media/app/icons/delete.svg' alt=''>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a class='btn btn-secondary' data-toggle="modal" data-target="#alarmModal">
                Dodaj novi alarm
              </a>
            </div>
          </div>

          <!-- Odobrenja -->
          <div class='grid_column'>
            <div class='section -divide pgTemplateEdit_approvals'>
              <h2 class='sectionTitle'>Odobrenja</h2>
              <div class='table-responsive'>
                <table class="table -edge">
                  <thead>
                    <tr>
                      <th class='approvalTable_person'>Osoba</th>
                      <th class='approvalTable_date'>Datum</th>
                      <th class='approvalTable_time'>Vrijeme</th>
                      <th class='approvalTable_status'>Status</th>
                      <th class='approvalTable_comment'>Komentar</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='approvalTable_person'>Djelo Hadziselimovic</td>
                      <td class='approvalTable_date'>13.04.2016.</td>
                      <td class='approvalTable_time'>14:00</td>
                      <td class='approvalTable_status'>Odobreno</td>
                      <td class='approvalTable_comment'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class='table_adminCell'>
                        <a href='auditsAdd.html' class='table_adminCell_item'>
                          <img class='icon -h16 table_adminCell_icon -edit' src='media/app/icons/edit.svg' alt=''>
                        </a>
                        <a class='table_adminCell_item'>
                          <img class='icon -h16 table_adminCell_icon -delete' src='media/app/icons/delete.svg' alt=''>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a class='btn btn-secondary' data-toggle="modal" data-target="#responsibilityModal">
                Dodaj odgovornu osobu
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit -->
    <div class='grid'>
      <div class='grid_column'>
        <div class='pgTemplateEdit_footer'>
          <div class='textCenter'>

            <!-- Kada je add new... -->
            <button type="submit" class="btn btn-primary -widest">
              Dodaj predlozak
            </button>

            <!-- Kada je edit... -->
            <button type="submit" class="btn btn-primary -widest">
              Spremi promjene u novu verziju
            </button>

            <button class="btn btn-neutral">
              Odustani
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!-- Alarm modal -->
  <!-- Ovaj skoro isto modal postoji na alarms.html stranici pa ga mozete spojiti u jednu komponentu -->
  <div class="modal fade" id='alarmModal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Dodaj novi alarm</h4>
        </div>
        <div class="modal-body">
          <form action=''>
            <fieldset class="form-group">
              <label>Naziv alarma</label>
              <input type="text" class="form-control">
            </fieldset>

            <div class='grid'>
              <div class='grid_column -medium6'>
                <fieldset class="form-group">
                  <label>Datum</label>
                  <input type="text" class="form-control">
                </fieldset>
              </div>
              <div class='grid_column -medium6'>
                <fieldset class="form-group">
                  <label>Vrijeme</label>
                  <input type="text" class="form-control">
                </fieldset>
              </div>
            </div>

            <fieldset class="form-group">
              <label>Vezani predlozak</label>
              <select class="form-control c-select" disabled>
                <option selected>Predlozak #12345678</option>
                <optgroup label="Kadrovi">
                  <option>Predlozak #1</option>
                  <option>Predlozak #2</option>
                </optgroup>
                <optgroup label="Kategorija 2">
                  <option>Predlozak #1</option>
                  <option>Predlozak #2</option>
                </optgroup>
              </select>
            </fieldset>

            <fieldset class="form-group">
              <label>Komentar</label>
              <textarea class="form-control" rows="3"></textarea>
            </fieldset>

            <!-- <fieldset class="form-group">
              <label>Odgovorne osobe? (ovdje bi trebao neki js library)</label>
              <select class="form-control c-select">
                <option selected>--</option>
                <option>John Doe</option>
                <option>John Doe</option>
                <option>John Doe</option>
                <option>John Doe</option>
                <option>John Doe</option>
              </select>
            </fieldset> -->

          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Dodaj alarm</button>
          <button type="button" class="btn btn-neutral" data-dismiss="modal">Odustani</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Responsible person modal -->
  <div class="modal fade" id='responsibilityModal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Dodaj novu odgovornu osobu</h4>
        </div>
        <div class="modal-body">
          <form action=''>
            <fieldset class="form-group">
              <select class="form-control c-select">
                <option selected>--</option>
                <option>John Doe</option>
                <option>John Doe</option>
                <option>John Doe</option>
                <option>John Doe</option>
                <option>John Doe</option>
              </select>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Dodaj odgovornu osobu</button>
          <button type="button" class="btn btn-neutral" data-dismiss="modal">Odustani</button>
        </div>
      </div>
    </div>
  </div>


  {% include "app/partials/footer.html" %}
{% endblock %}
